<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec6c61ba-56fb-4b2e-aeb3-29062a3f6a06" Alias="1 0KFB17 Ngtpb0xwyc4bsgq" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KFB17Ngtpb0xwyc4bsgq</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T23:16:59</CreateDate>
    <NodeName Default="1 0KFB17 Ngtpb0xwyc4bsgq" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xrqhz1h1/1_0kfb17_ngtpb0xwyc4bsgq.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>