<?xml version="1.0" encoding="utf-8"?>
<Media Key="49c585dd-7ec3-4032-9bbf-c1d6600cb5db" Alias="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F352116278Wpylkpfzejb0mcsgdvutgwtehbfnjnsg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T23:13:10</CreateDate>
    <NodeName Default="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg (1)" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1ocnksod/360_f_352116278_wpylkpfzejb0mcsgdvutgwtehbfnjnsg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>