<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1c33324-125d-40d9-a68b-78e29b3bf13c" Alias="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F352116278Wpylkpfzejb0mcsgdvutgwtehbfnjnsg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T16:16:55</CreateDate>
    <NodeName Default="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eiznh2k3/360_f_352116278_wpylkpfzejb0mcsgdvutgwtehbfnjnsg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>