<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b967f3c-662d-4608-a8fb-013870c2093c" Alias="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F352116278Wpylkpfzejb0mcsgdvutgwtehbfnjnsg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T23:13:23</CreateDate>
    <NodeName Default="360 F 352116278 Wpylkpfzejb0mcsgdvutgwtehbfnjnsg (2)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hj5jm0zn/360_f_352116278_wpylkpfzejb0mcsgdvutgwtehbfnjnsg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>