<?xml version="1.0" encoding="utf-8"?>
<Media Key="57498f9c-2ed3-4ce6-89d9-95bca66198f3" Alias="360 F 540425300 Mgtbjqn1glpzf1myri4lxox18fdrczhj" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/F540425300Mgtbjqn1glpzf1myri4lxox18fdrczhj</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T17:21:21</CreateDate>
    <NodeName Default="360 F 540425300 Mgtbjqn1glpzf1myri4lxox18fdrczhj" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tkhfsv4t/360_f_540425300_mgtbjqn1glpzf1myri4lxox18fdrczhj.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>