<?xml version="1.0" encoding="utf-8"?>
<Media Key="7250a4de-70f6-4a88-bb54-7bff6cc9f749" Alias="blogs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-07-16T23:10:39</CreateDate>
    <NodeName Default="blogs" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>