<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6a673d5-67f6-41c8-aacc-2456c95f8e61" Alias="Post Sample Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PostSampleImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-07-16T23:18:00</CreateDate>
    <NodeName Default="Post Sample Image" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0nzlnvxw/post-sample-image.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>