<?xml version="1.0" encoding="utf-8"?>
<Macro Key="bff54523-e57b-4eb9-8116-67983c94d137" Alias="MacroHelloWorld" Level="0">
  <Name>MacroHelloWorld</Name>
  <MacroSource>~/Views/MacroPartials/HelloWorld.cshtml</MacroSource>
  <UseInEditor>true</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>