<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f7baaa7d-ebbd-4bcd-a279-3455b7210640" Alias="about" Level="2">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-podcast color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>About Page</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>About+Page</Folder>
    <Compositions>
      <Composition Key="9f2b96c0-7b37-4693-aca7-2cdfa46b3c45">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>About</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f1893813-0eb0-4978-9347-8c36bda45c7a">About</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a2c3d04e-db47-4871-a3dc-52b30f53157d</Key>
      <Name>Content Body</Name>
      <Alias>contentBody</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>46ce4b85-523c-4414-9667-4739a9c5d13c</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>