<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5f785881-8c88-4050-b246-7cbe17329b13" Alias="blogs" Level="2">
  <Info>
    <Name>Blogs</Name>
    <Icon>icon-documents color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blogs</Folder>
    <Compositions>
      <Composition Key="02d22113-848d-4387-b56a-df68f3249157">blogSetting</Composition>
      <Composition Key="9f2b96c0-7b37-4693-aca7-2cdfa46b3c45">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>Blogs</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e811845d-d955-4927-b049-d5692f58a510">Blogs</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="563044a5-1c00-4332-b24e-9a0d3e3c390f" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>