<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="de665362-131a-483d-98b6-72d025b5f9d3" Alias="blogAuthor" Level="2">
  <Info>
    <Name>Blog Author</Name>
    <Icon>icon-piracy color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Authors</Folder>
    <Compositions>
      <Composition Key="9f2b96c0-7b37-4693-aca7-2cdfa46b3c45">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>BlogAuthor</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="8ba43eb9-73da-4be5-bbf5-a34d66372fca">BlogAuthor</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>dadc308d-4aa3-42e0-8372-f15734180d4b</Key>
      <Name>Author Bio</Name>
      <Alias>authorBio</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>98041c68-7918-4d41-9f72-d6981d2205ad</Key>
      <Name>Author</Name>
      <Alias>authorId</Alias>
      <Definition>65457972-39a8-4b15-8d34-4d55105a070f</Definition>
      <Type>Umbraco.UserPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>03f51b4f-644b-46c6-bb91-be3d98972df4</Key>
      <Name>Social Media</Name>
      <Alias>socialMedia</Alias>
      <Definition>2367a5cb-2567-4e64-8051-f357392305d0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>70171f75-adc8-4e38-a7f4-a681deb19761</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>