<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="563044a5-1c00-4332-b24e-9a0d3e3c390f" Alias="blog" Level="2">
  <Info>
    <Name>Blog</Name>
    <Icon>icon-document-dashed-line color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Blogs</Folder>
    <Compositions>
      <Composition Key="9f2b96c0-7b37-4693-aca7-2cdfa46b3c45">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0b8bd911-5508-4e9b-87a2-9d63816ca1bf">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f0d68730-6987-48bd-8c43-d9bb9af023e9</Key>
      <Name>Author</Name>
      <Alias>author</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d6cd579-660f-458d-b131-33db8e6e7e91</Key>
      <Name>Blog Content</Name>
      <Alias>blogContent</Alias>
      <Definition>d8d236dd-b594-4cc8-875a-45d1e10cde77</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>81462ff3-89b1-49e7-840f-ce972f0e896d</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</ContentType>