<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="75920b0e-9734-4fd1-8dee-4aedc9e7ec2a" Alias="blogAuthors" Level="2">
  <Info>
    <Name>Blog Authors</Name>
    <Icon>icon-user-females color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Authors</Folder>
    <Compositions>
      <Composition Key="9f2b96c0-7b37-4693-aca7-2cdfa46b3c45">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>BlogAuthors</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="12157b43-2f92-4d1b-ad87-adaa3a9fc925">BlogAuthors</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="de665362-131a-483d-98b6-72d025b5f9d3" SortOrder="0">blogAuthor</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>