<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="18ee158f-74e3-4f15-b92e-ab99f1b62177" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Home Page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="02d22113-848d-4387-b56a-df68f3249157">blogSetting</Composition>
      <Composition Key="17c94903-0c75-46c7-a840-4e9bcd3a24d5">layoutSettings</Composition>
      <Composition Key="9f2b96c0-7b37-4693-aca7-2cdfa46b3c45">pageSettings</Composition>
    </Compositions>
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="86868556-4b0c-4568-875e-fbd094a3603c">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5f785881-8c88-4050-b246-7cbe17329b13" SortOrder="0">blogs</ContentType>
    <ContentType Key="75920b0e-9734-4fd1-8dee-4aedc9e7ec2a" SortOrder="1">blogAuthors</ContentType>
    <ContentType Key="f7baaa7d-ebbd-4bcd-a279-3455b7210640" SortOrder="2">about</ContentType>
    <ContentType Key="1cbbc6a0-bce6-4fc0-8454-79852f3e5a04" SortOrder="3">searchPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>0086a894-0e50-4818-bd30-4a03a8bb664a</Key>
      <Name>Social Media</Name>
      <Alias>socialMedia</Alias>
      <Definition>2367a5cb-2567-4e64-8051-f357392305d0</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="layoutSettings/footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8b7a8152-2f42-44f0-81ce-a5cff4b6fc0e</Key>
      <Caption>Footer</Caption>
      <Alias>layoutSettings/footer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>