<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e3051ab-69f6-4768-923d-5637b9b76dfa" Alias="Authors" Level="2">
  <Info>
    <Parent Key="8a40a8c9-5831-47d9-ad8c-b5a23cd72f62">Home</Parent>
    <Path>/Home/Authors</Path>
    <Trashed>false</Trashed>
    <ContentType>blogAuthors</ContentType>
    <CreateDate>2024-07-17T10:48:25</CreateDate>
    <NodeName Default="Authors" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="12157b43-2f92-4d1b-ad87-adaa3a9fc925">BlogAuthors</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "b48513f9-1863-464f-a596-b7f04b3e2772",
    "mediaKey": "8148e646-eee2-45a7-9367-1e446ddd43b1"
  }
]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[description]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <metaTitle>
      <Value><![CDATA[title]]></Value>
    </metaTitle>
    <subTitle>
      <Value><![CDATA[Authors Sub Title]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Authors Title]]></Value>
    </title>
  </Properties>
</Content>