<?xml version="1.0" encoding="utf-8"?>
<Content Key="46605f10-7405-4644-bde9-c27c2250e0e1" Alias="Blogs" Level="2">
  <Info>
    <Parent Key="8a40a8c9-5831-47d9-ad8c-b5a23cd72f62">Home</Parent>
    <Path>/Home/Blogs</Path>
    <Trashed>false</Trashed>
    <ContentType>blogs</ContentType>
    <CreateDate>2024-07-16T23:14:30</CreateDate>
    <NodeName Default="Blogs" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e811845d-d955-4927-b049-d5692f58a510">Blogs</Template>
  </Info>
  <Properties>
    <author>
      <Value><![CDATA[]]></Value>
    </author>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "44535a7b-07ad-411d-96c9-1247dd0d3ce1",
    "mediaKey": "f6639ad1-2b20-480a-9107-82c49b562972"
  }
]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <metaTitle>
      <Value><![CDATA[Daily Vlogs]]></Value>
    </metaTitle>
    <numberOfBlogPerPage>
      <Value><![CDATA[5]]></Value>
    </numberOfBlogPerPage>
    <subTitle>
      <Value><![CDATA[]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Daily Vlogs]]></Value>
    </title>
  </Properties>
</Content>