<?xml version="1.0" encoding="utf-8"?>
<Content Key="bfbf65dc-7e0b-4c80-8866-6c7b4c237def" Alias="Glenda de Torres" Level="3">
  <Info>
    <Parent Key="9e3051ab-69f6-4768-923d-5637b9b76dfa">Authors</Parent>
    <Path>/Home/Authors/GlendaDeTorres</Path>
    <Trashed>false</Trashed>
    <ContentType>blogAuthor</ContentType>
    <CreateDate>2024-07-17T12:14:43</CreateDate>
    <NodeName Default="Glenda de Torres" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8ba43eb9-73da-4be5-bbf5-a34d66372fca">BlogAuthor</Template>
  </Info>
  <Properties>
    <authorBio>
      <Value><![CDATA[{
  "markup": "<h2 class=\"section-heading\">The Final Frontier</h2>\n<p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>\n<p>There can be no thought of finishing for ‘aiming for the stars.’ Both figuratively and literally, it is a task to occupy the generations. And no matter how much progress one makes, there is always the thrill of just beginning.</p>\n<p>The dreams of yesterday are the hopes of today and the reality of tomorrow. Science has not yet mastered prophecy. We predict too much for the next year and yet far too little for the next ten.</p>\n<p>Spaceflights cannot be stopped. This is not the work of any one man or even a group of men. It is a historical process which mankind is carrying out in accordance with the natural laws of human development.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </authorBio>
    <authorId>
      <Value><![CDATA[1]]></Value>
    </authorId>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "253a2aab-d316-4a21-8d64-8955fb01522a",
    "mediaKey": "d7e07b7d-1a16-4631-a5af-f6e4ab021e90"
  }
]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[Description]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <metaTitle>
      <Value><![CDATA[Title]]></Value>
    </metaTitle>
    <socialMedia>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ae870be3ae6746ddaba7297d32718772"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5d6106cc-ab88-41a3-a788-3f24020e7494",
      "udi": "umb://element/ae870be3ae6746ddaba7297d32718772",
      "socialMediaURL": "https://facebook.com",
      "icon": {
        "icon": "fa-facebook",
        "packageId": "384137c6-7e63-46bd-a08e-353d31ea7b49"
      },
      "target": [
        "_blank"
      ],
      "display": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMedia>
    <subTitle>
      <Value><![CDATA[Sub Title]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Glenda de Torres]]></Value>
    </title>
  </Properties>
</Content>