<?xml version="1.0" encoding="utf-8"?>
<Content Key="8a40a8c9-5831-47d9-ad8c-b5a23cd72f62" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-07-16T14:49:59</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="86868556-4b0c-4568-875e-fbd094a3603c">Home</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "349e4861-bbe9-4308-83bd-5ca74694c08c",
    "mediaKey": "d7e07b7d-1a16-4631-a5af-f6e4ab021e90"
  }
]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[Home Page Meta Description]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[1]]></Value>
    </displayOnNavbar>
    <footerLinks>
      <Value><![CDATA[[
  {
    "name": "About",
    "udi": "umb://document/40d07875bbb14204a90e6674980e631a"
  },
  {
    "name": "Blogs",
    "udi": "umb://document/46605f1074054644bde9c27c2250e0e1"
  },
  {
    "name": "Facebook",
    "target": "_blank",
    "url": "https://facebook.com"
  }
]]]></Value>
    </footerLinks>
    <logo>
      <Value><![CDATA[[
  {
    "key": "437bd332-2670-43da-a533-3ce090f0fa8c",
    "mediaKey": "57498f9c-2ed3-4ce6-89d9-95bca66198f3"
  }
]]]></Value>
    </logo>
    <metaTitle>
      <Value><![CDATA[Code, Coffee, and Chaos]]></Value>
    </metaTitle>
    <numberOfBlogPerPage>
      <Value><![CDATA[1]]></Value>
    </numberOfBlogPerPage>
    <siteName>
      <Value><![CDATA[Code, Coffee, and Chaos]]></Value>
    </siteName>
    <socialMedia>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/89a7760bc14e4decabd80111d88c3992"
      },
      {
        "contentUdi": "umb://element/d1ddfb5f603d4dc8b0550e86fff50740"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "5d6106cc-ab88-41a3-a788-3f24020e7494",
      "udi": "umb://element/89a7760bc14e4decabd80111d88c3992",
      "socialMediaURL": "https://facebook.com",
      "icon": {
        "icon": "fa-facebook",
        "packageId": "384137c6-7e63-46bd-a08e-353d31ea7b49"
      },
      "target": [
        "_blank"
      ],
      "display": "1"
    },
    {
      "contentTypeKey": "5d6106cc-ab88-41a3-a788-3f24020e7494",
      "udi": "umb://element/d1ddfb5f603d4dc8b0550e86fff50740",
      "socialMediaURL": "https://twitter.com",
      "icon": {
        "icon": "fa-twitter-square",
        "packageId": "384137c6-7e63-46bd-a08e-353d31ea7b49"
      },
      "target": [
        "_blank"
      ],
      "display": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </socialMedia>
    <subTitle>
      <Value><![CDATA[The Ups and Downs of App Development: My Personal Story]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Code, Coffee, and Chaos]]></Value>
    </title>
  </Properties>
</Content>