<?xml version="1.0" encoding="utf-8"?>
<Content Key="166fb73d-a647-41e0-b006-59a147a253f1" Alias="Search" Level="2">
  <Info>
    <Parent Key="8a40a8c9-5831-47d9-ad8c-b5a23cd72f62">Home</Parent>
    <Path>/Home/Search</Path>
    <Trashed>false</Trashed>
    <ContentType>searchPage</ContentType>
    <CreateDate>2024-07-17T16:02:20</CreateDate>
    <NodeName Default="Search" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="bdcf52ec-120e-449d-a3a4-89318115bc7b">SearchPage</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "8fdabd7e-95c0-48f0-b666-a9d360208e39",
    "mediaKey": "8148e646-eee2-45a7-9367-1e446ddd43b1"
  }
]]]></Value>
    </bannerImage>
    <description>
      <Value><![CDATA[Description]]></Value>
    </description>
    <displayOnNavbar>
      <Value><![CDATA[0]]></Value>
    </displayOnNavbar>
    <metaTitle>
      <Value><![CDATA[Title]]></Value>
    </metaTitle>
    <subTitle>
      <Value><![CDATA[Sub Title]]></Value>
    </subTitle>
    <title>
      <Value><![CDATA[Search Title]]></Value>
    </title>
  </Properties>
</Content>