<!DOCTYPE html>
<html lang="en">
<head>
    <vc:meta-data/>
    <partial name="Components/Bundles/_StyleBundles"/>
</head>
<body>
<vc:nav-bar/>
<vc:header/>

@RenderBody()

<!-- Footer-->
<vc:footer/>
<partial name="Components/Bundles/_JavaScriptBundles"/>
</body>
</html>