<?xml version="1.0" encoding="utf-8"?>
<DataType Key="de8fc04c-85b7-4a1b-9794-ea82fd8cfdb4" Alias="Blog Setting - Number Of Blog Per Page - Numeric" Level="1">
  <Info>
    <Name>Blog Setting - Number Of Blog Per Page - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 1,
  "max": 20
}]]></Config>
</DataType>