<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1a38bea-df62-438a-9d76-3df8952fd096" Alias="Home Page - Multi URL Picker" Level="1">
  <Info>
    <Name>Home Page - Multi URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 5,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>