<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d8d236dd-b594-4cc8-875a-45d1e10cde77" Alias="[Rich Text Editor] Blog - Blog Content" Level="1">
  <Info>
    <Name>[Rich Text Editor] Blog - Blog Content</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbmacro",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": "umb://media/7250a4de70f64a88bb547bff6cc9f749",
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>