<?xml version="1.0" encoding="utf-8"?>
<DataType Key="65457972-39a8-4b15-8d34-4d55105a070f" Alias="[User Picker] Blog Author" Level="1">
  <Info>
    <Name>[User Picker] Blog Author</Name>
    <EditorAlias>Umbraco.UserPicker</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>